/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* UTILS */

/* .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100px;
    margin: auto;
} */

body {
    background-color: rgb(225, 221, 221);
}


/* Sezione HEADER */

header {
    background-color: white;
}

.container-box {
    /* line-height: 100px; */
    font-size: 25px;
    margin-bottom: 40px;
    padding-left: 15px;
}

#header-image {
    /* height: 100px; */
    vertical-align: middle;
}

#header-title {
    display: inline;
    vertical-align: middle;

}

/* Sezione BOTTONI */

.container {

    width: 700px;
    margin: auto;
    padding: 10px 15px;

}

#first-main {
    background-color: white;
    padding: 10px 45px;
    margin-bottom: -19px;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;

}

#first-btn {
    background-color: rgb(81, 109, 232);
    color: white;
}

#second-btn {
    color: gray;
    background-color: white;
    border: 1px solid gray;
}



/* Seconda sezione MAIN */

#second-main {
    margin-top: 20px;
    background-color: white;
    padding: 10px 45px;
    height: 515px;
}

address {
    font-style: normal;
    padding: 5px 10px;
}

.border-span {
    background-color: rgb(81, 109, 232);
    font-size: 10px;
    color: white;
    padding: 4px 5px;
    border-radius: 5px;
}